name: 'Package Docker'

on:
  workflow_call:
  workflow_dispatch:

jobs:
  package_docker:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    concurrency: b2k-${{ matrix.imageName }}
    strategy:
      matrix:
        include: 
          - component: devhostagent
            imageName: lpkremoteagent
          - component: devhostagent.restorationjob
            imageName: lpkrestorationjob
          - component: routingmanager
            imageName: routingmanager
      fail-fast: true
    env:
      IMAGE: go1com/${{ matrix.imageName }}
      REF: ${{ github.ref_name }}
      IMAGE_CACHE_MODE: max
      IMAGE_CACHE_SCOPE: ${{ matrix.imageName }}
      DOCKERFILE: src/${{ matrix.component }}/Dockerfile
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Dockerfile ${{ env.IMAGE }}
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/arm64,linux/amd64
          pull: true
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ env.IMAGE }}:stable,${{ env.IMAGE }}:${{ env.REF }}
          # https://docs.docker.com/build/cache/backends/gha/#scope
          cache-from: ${{ format('type=gha,scope={0}', env.IMAGE_CACHE_SCOPE) }}
          cache-to: >-
            ${{
              github.ref_name == github.event.repository.default_branch
              && format('type=gha,mode={0},scope={1}', env.IMAGE_CACHE_MODE, env.IMAGE_CACHE_SCOPE)
              || null
            }}
